<div
  class="w-full flex gap-10 items-center rounded-md rounded-tl-none overflow-hidden pr-10 -mt-10"
  [ngClass]="{ 'bg-pure-white': !dark, 'bg-very-dark-blue': dark }"
>
  <div
    class="w-[140px] h-[140px] grid place-items-center"
    [style.background-color]="job.logoBackground"
  >
    <img [src]="job.logo" />
  </div>
  <div class="flex flex-col gap-3 mr-auto">
    <h2
      class="h2"
      [ngClass]="{ 'text-very-dark-blue': !dark, 'text-pure-white': dark }"
    >
      {{ job.company }}
    </h2>
    <p class="text-dark-grey">{{ job.website }}</p>
  </div>
  <button class="button-secondary">Company Site</button>
</div>
