$VIOLET: #5964e0;
$WHITE: #ffffff;
$LIGHT_VIOLET: #939bf4;
$LIGHT_GREY: #f4f6f8;
$VERY_DARK_BLUE: #19202d;
$GRAY: #9daec2;
$MIDNIGHT: #121721;
$DARK_GREY: #6e8098;

$MD_BREAKPOINT: 48rem; // 768px
$LG_BREAKPOINT: 60rem; // 960px
