<div
  class="bg-pure-white px-6 py-4 flex items-center gap-6 rounded-md -mt-10 lgmd:hidden"
  *ngIf="{ value: (isDark$ | async) } as isDark"
  [ngClass]="{
    'bg-very-dark-blue': isDark.value
  }"
>
  <div class="mr-auto">
    <search-bar
      placeholder="Filter by title..."
      [queryParam]="queryParams.TITLE"
    ></search-bar>
  </div>
  <icon-button
    type="none"
    [iconType]="filterIconType"
    [color]="isDark.value ? '#fff' : '#6E8098'"
    (onClick)="panelService.openPanel(panelName)"
  ></icon-button>
  <icon-button [iconType]="searchIconType"></icon-button>
</div>

<panel [panelName]="panelName">
  <div class="border-b border-dark-grey-20 p-6">
    <search-bar
      placeholder="Filter by location…"
      [iconType]="locationIconType"
      [queryParam]="queryParams.LOCATION"
    ></search-bar>
  </div>
  <div class="flex flex-col gap-6 p-6">
    <checkbox [queryParam]="queryParams.FULL_TIME"
      >Full Time <span class="mdsm:hidden">Only</span></checkbox
    >
    <button class="button-primary w-full" (click)="handleSearch()">
      Search
    </button>
  </div>
</panel>
