@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

.h1 {
  font-size: 1.75rem; /* 28px */
}

.h2 {
  font-size: 1.5rem; /* 24px */
}

.h3 {
  font-size: 1.25rem; /* 20px */
}

.h4 {
  font-size: 0.875rem; /* 14px */
  line-height: 1.28;
  font-weight: 700;
}

.h1,
.h2,
.h3 {
  font-weight: 700;
  line-height: 1.21;
}

body {
  font-weight: 400;
  line-height: 1.6;
}

@include sm() {
  .h1 {
    font-size: 1.25rem; /* 20px */
  }
  .h2 {
    font-size: 1.25rem; /* 20px */
  }
}

.text-very-dark-blue {
  color: $VERY_DARK_BLUE;
}

.text-pure-white {
  color: $WHITE;
}
